@model IEnumerable<BucksUniSite.Models.Centre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CentreID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CentreID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CentreID })
        </td>
    </tr>
}

</table>
